
    <h1> Thank you {{name}} for keeping our city green!</h1><br>

    <img src={{show}}>
    <br>
    <br>
    <h4>
        *75 percent of the global population is expected to be living urban lives by 2050.<br><br>
        “Greening” a city provides an environmental and psychological benefit <br><br>
        to the people by creating a sense of calm and peacefulness. <br><br><br>
    </h4>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <a class="btn" href="/signerslist">see all {{total}} signers</a><br>
    <br>
    <a class="btn" href="/edit">edit your profile</a>
    <br><br><br><br><br><br><br>
    <a class="btn2" href="/login">get me out of here</a>
