{{#if error}}
    <p>Please login here</p>
{{/if}}

<h1>Login here please!</h1>
<form method="POST">
    <div class="fillInMessage {{#if fillInMessage}}on
        {{/if}}"><p>Ups...something went wrong!</p></div>

    <input name="email" type="text" placeholder="E-mail" />
    <br>
    <input id="password" type="password" name="password" placeholder="Password" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>

    <br>
    <button class="btn" href="/login" name="button">login</button>

<br>
<br>

<a class="btn" href="/register">register</a>

</form>
