
    <h2>Tell us more about yourself!</h2>


<form method="POST">
    <input type="number" name="age" placeholder="how old are you?" />
    <br>
    <input type="text" name="city" placeholder="your city" />
    <br>
    <input  type="text" name="url" placeholder="url" />
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>
    <br>
    <button class="btn">add profile</button>
    <br>
    <br>
    <a class="btn" href="/welcome">continue without a change</a>
    <br>
    <br>
    <br><br><br><br><br><br><br>
    <a class="btn2" href="/login">get me out of here</a>

</form>
