
        <h1 class="petitionIntro">
            <h2>Support the fight against concrete jungle</h2>

<form method="POST">

    <input id="signatureInk" name="signature" type="hidden">
    <br>
    <canvas id="canvas" width="400px" height="100px"></canvas>
    <br>
    <input name="_csrf" type="hidden" value="{{csrfToken}}">


    <h5>Sign here please</h5>
    <button class="btn" type="submit" name="button">submit</button>
    <br><br><br><br><br><br><br><br><br><br>
    <a class="btn2" href="/login">get me out of here</a>

</form>
<script src="canvas.js"></script>
